<div class="container-xl">
  <div *ngIf="tipo === 'hitpoint'; else acc_gyr">
    <div *ngIf="loadHitpoint">
      <highcharts-chart [Highcharts]="Highcharts" [options]="hitpointChartOptions"></highcharts-chart>
      <p>Quantidade: {{resultado.qtd_toque}}</p>
      <p>Intervalo Médio: {{(resultado.intervalo_medio/1000)}} segundos</p>
    </div>
  </div>
  
  <ng-template #acc_gyr>
    <highcharts-chart *ngIf="loadAccelerometer" [Highcharts]="Highcharts" [options]="accelerometerChartOptions"></highcharts-chart>
    <highcharts-chart *ngIf="loadGyroscope" [Highcharts]="Highcharts" [options]="gyroscopeChartOptions"></highcharts-chart>
  </ng-template>
</div>
