<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <!-- Título da Lista -->
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6 text-start">
            <h4><b>Lista de Profissionais</b></h4>
          </div>
          <div class="col-sm-6 text-end">
            <a href="#" [routerLink]="'/create-profissional'" class="btn create-profissional">
              Criar Profissional
            </a>
          </div>
        </div>
      </div>

      <!-- Tabela -->
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Registro</th>
            <th>Especialidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <!-- Exibe lista de profissionais -->
          <tr *ngFor="let profissional of profissionaisList" class="center-align">
            <td>{{ profissional.nome }}</td>
            <td>{{ profissional.sobrenome }}</td>
            <td>{{ profissional.registro }}</td>
            <td>{{ profissional.especialidade }}</td>
            <td class="actions">
              <button (click)="deleteProfissional(profissional.id)" class="btn delete">
                <i class="fas fa-trash-alt"></i> Excluir
              </button>
            </td>
          </tr>
          <!-- Exibe mensagem caso a lista esteja vazia -->
          <tr *ngIf="profissionaisList?.length == 0">
            <td colspan="5" class="text-center">Nenhum profissional encontrado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
