/* Estilo Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container-xl {
  width: 90%;
  margin: 20px auto;
}

/* Estilo do Título */
.table-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.table-title h4 {
  margin: 0;
}

/* Estilo da Tabela */
.table-wrapper {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-content {
  width: 100%;
  border-collapse: collapse;
}

.table-content th,
.table-content td {
  padding: 12px 15px;
  text-align: left; /* Alinhamento padrão à esquerda */
  border: 1px solid #ddd;
}

.table-content th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table-content tr:hover {
  background-color: #f1f1f1;
}

/* Estilo da Coluna de Ações */
.table-content th:nth-child(5), /* Coluna Ações */
.table-content td.actions {
  text-align: center;
}

.table-content td.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Botão Criar Profissional */
.create-profissional {
  background-color: #145a73;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.create-profissional:hover {
  background-color: #0d4a5c;
}

/* Botão Excluir */
.btn {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
  margin: 5px 0; /* Espaçamento vertical */
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.delete {
  background-color: #dc3545;
  color: white;
}

.delete:hover {
  background-color: #c82333;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .create-profissional {
    font-size: 14px;
    padding: 8px 16px;
  }

  .table-wrapper {
    padding: 15px;
  }

  .table-content th,
  .table-content td {
    font-size: 14px;
    padding: 10px 12px;
  }

  .btn {
    font-size: 12px;
    padding: 5px 10px;
  }
}
